/scripts/googlemailmanager/token.json
/scripts/googlemailmanager/node_modules/*
/scripts/googlemailmanager/credentials.json
/scripts/googlemailmanager/package-lock.json
/scripts/googlemailmanager/resources/*
/scripts/Terraform/.terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.vagrant
kedro/
*.log
*.pptx
properties.ini
dt/
__pycache__/
# skip kedro for now
